/*================= 
     media query
     for mobile
       device 
==================*/

@media screen and (max-width: 576px) {
    .img-text{
        display: flex;
        flex-direction: column-reverse;
    }
    .scnd-section-image{
        display: flex;
        flex-direction: column;
    }
    .fact-details{
        display: flex;
        flex-direction: column;
    }
    .sponsor-images{
        display: flex;
        flex-direction: column;
    }
    .container-6{
        display: flex;
        flex-direction: column;
    }
    .fact-box{
        border: 1px solid #FF900E;
        padding: 10px 20px;
        transition: width 2s, height 2s, transform 2s;
    }
    .fact-box:hover{
        width: 200px;
        height: 200px;
        transform: rotate(10 deg);
    }
}
